body{
    background-color:#18121E;
}
.wrapper{
  height:100%;
  min-width:100%;
}
header{
  padding:1em;
  margin:0;
  height:30px;
  position:relative; 
  font-family: 'Lobster', cursive;
  font-weight: 400;
}
nav{
    background-color:#18121E;
    padding:0.000001%;
    margin-top: -46.5157px;
    margin-left: 0;
    margin-right: 0;
    font-size: 23px;
    color:white;
    text-align: center;
    border-radius: 3px;
}
a{
    text-decoration: none;
    display: inline-block;
    color:white;
}
a:hover{
    color:#233237;
}
li{
    list-style-type: none;
    padding:20px;
}

.hashtag {
    color:#233237;
    font-size: 72px;
    text-align:center;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    margin-top: 37px;
    margin-bottom: 45px;
}

.content {
    font-size:24px;
   text-align: center;
    color:#233237;
    margin-top:20px;
    margin-left: 220px;
    margin-right: 220px;
    font-family: 'Lobster', cursive;
    font-weight:normal;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  float:left;
  font-size: 1.5em;
  color: white;
  background-color:#18121E;
  font-family: 'Lobster', cursive;
}

.i {
    font-size:20px;
    color:#EAC67A;
}
